<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>bootstrap test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous" async></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous" async></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous" async></script>
  </head>
  <body>
    <div class="container">
      <p>justify content start</p>
      <div class="row justify-content-start" style="height: 160px; background-color:gold;">
        <div class="col-4 border" style="background-color:lavender;">
          One of three columns
        </div>
        <div class="col-4 border" style="background-color:lavender;">
          One of three columns
        </div>
      </div>
      <br>
      <p>justify content center</p>
      <div class="row justify-content-center" style="height: 160px; background-color:gold;">
        <div class="col-3" style="background-color:red; color:white">
          One of three columns
        </div>
        <div class="col-3" style="background-color:red; color:white">
          One of three columns
        </div>
      </div>
      <br>
      <p>justify content end</p>
      <div class="row justify-content-end" style="height: 160px; background-color:gold;">
        <div class="col-2" style="background-color:blue; color:white">
          One of three columns
        </div>
        <div class="col-5" style="background-color:blue; color:white">
          One of three columns
        </div>
      </div>
      <br>
      <p>justify content around</p>
      <div class="row justify-content-around" style="height: 160px; background-color:gold;">
        <div class="col-2" style="background-color:grey; color:white">
          One of three columns
        </div>
        <div class="col-2" style="background-color:grey; color:white">
          One of three columns
        </div>
      </div>
      <br>
      <p>justify content between</p>
      <div class="row justify-content-between" style="height: 160px; background-color:gold;">
        <div class="col-2" style="background-color:green; color:white">
          One of three columns
        </div>
        <div class="col-2" style="background-color:green; color:white">
          One of three columns
        </div>
      </div>
    </div>
  </body>
</html>
