<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>bootstrap test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous" async></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous" async></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous" async></script>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-around" style="height: px; background-color:AntiqueWhite ; color:white;">
        <div class="col-1 order-3" style="background-color:orange;">
          I'm third
        </div>
        <div class="col-1 order-1" style="background-color:red;">
          I'm first
        </div>
        <div class="col-1 order-5" style="background-color:blue;">
          I'm fifth
        </div>
        <div class="col-1 order-4" style="background-color:green;">
          I'm forth
        </div>
        <div class="col-1 order-6" style="background-color:purple;">
          I'm sixth
        </div>
        <div class="col-1 order-2" style="background-color:yellow; color:black;">
          I'm second
        </div>
      </div>
    </div>
  </body>
</html>
